## Notebook with simple recursion problems

BINARY SEARCH

In [ ]:
arr = [1,2,3,4,5,6,7,8,9]

In [ ]:
def  bin_search(arr: list, target: int)-> bool:
  if not arr:
    return False
  med_index = int(len(arr)/2)
  med = arr[med_index]
  if med == target:
    return True
  if med > target:
    return bin_search(arr[:med_index], target)
  if med <= target:
    return bin_search(arr[med_index +1:], target)

In [ ]:
bin_search(arr, 8)

True

#### PRINT NUMBERS from n to 1

In [ ]:
def printN(num: int):
  if num >=1:
    print(num)
    return printN(num-1)

In [ ]:
printN(5)

5
4
3
2
1

 from 1 to n

In [ ]:
def print1N(num: int):
  if num >=1:
    print1N(num-1)
    print(num)

In [ ]:
print1N(5)

1
2
3
4
5

 from n to 1 to n

In [ ]:
def printN1N(num: int):
  if num >=1:
    print(num)
    printN1N(num-1)
    print(num)

In [ ]:
printN1N(5)

5
4
3
2
1
1
2
3
4
5

Factorial of a number n

In [ ]:
def factorial(n):
  if n == 1:
    return 1
  return n * factorial(n-1)

In [ ]:
factorial(4)

24

sum of n numbers

In [ ]:
def sum(n):
  if n == 1:
    return 1
  return n + sum(n-1)

In [ ]:
sum(6)

21

# sum of digits
SoD(1892) = 1 + 8 + 9 + 2 = 20

In [ ]:
#conversion to string
def SoD(n: int) -> int:
  el = str(n)
  l = len(el)
  if l == 1:
    return int(el[0])
  else:
    return int(el[l-1]) + SoD(int(el[:l-1]))

In [ ]:
def Sod(n:int) -> int:
  d = n%10
  if n == 0:
    return 0
  n = n//10
  return d + Sod(n)

In [ ]:
SoD(1892)

20

Reverse a number

54321 -> 12345

In [34]:
def Reverse(n: str) -> str:
  if len(n) == 0:
    return '';
  return n[-1] + Reverse(n[:len(n)-1])

In [35]:
Reverse("66061870")

'07816066'

In [69]:
def ReverseI(n: int, pow)-> int:
  if n//10 == 0:
    return n
  return n%10 * (10 ** pow) + ReverseI(n//10, pow-1)

In [76]:
ReverseI(7654321, 6)

1234567

non recursive:

In [67]:
def R(n: int)-> int:
  return int(str(n)[::-1])

In [68]:
R(66061870) #if the result is an int, we lose the first 0, to be correct return must be string

7816066

Palindrome

"yamamay" yes
"dog" no

In [92]:
def palindrome(s: str) -> bool:
  if len(s) == 1:
    return True
  if s[0] == s[-1]:
    return palindrome(s[1:-1])
  else:
    return False

In [94]:
print(palindrome("dog"))

False

In [96]:
print(palindrome("yamamay"))

True

Count zeros
1009 = 2 zeros

In [105]:
def countZeros(n: int, count = 0) -> int:
  if n == 0:
    return count+1
  if n//10 == 0:
    return count
  if n%10 == 0:
    return countZeros(n//10, count+1)
  else:
    return countZeros(n//10, count)

In [107]:
countZeros(0)

1

In [108]:
countZeros(190002930012310)

6