## Notebook with simple recursion problems

BINARY SEARCH

In [ ]:
arr = [1,2,3,4,5,6,7,8,9]

In [ ]:
def  bin_search(arr: list, target: int)-> bool:
  if not arr:
    return False
  med_index = int(len(arr)/2)
  med = arr[med_index]
  if med == target:
    return True
  if med > target:
    return bin_search(arr[:med_index], target)
  if med <= target:
    return bin_search(arr[med_index +1:], target)

In [ ]:
bin_search(arr, 8)

True

#### PRINT NUMBERS from n to 1

In [26]:
def printN(num: int):
  if num >=1:
    print(num)
    return printN(num-1)

In [27]:
printN(5)

5
4
3
2
1

 from 1 to n

In [32]:
def print1N(num: int):
  if num >=1:
    print1N(num-1)
    print(num)

In [33]:
print1N(5)

1
2
3
4
5

 from n to 1 to n

In [39]:
def printN1N(num: int):
  if num >=1:
    print(num)
    printN1N(num-1)
    print(num)

In [40]:
printN1N(5)

5
4
3
2
1
1
2
3
4
5

Factorial of a number n

In [41]:
def factorial(n):
  if n == 1:
    return 1
  return n * factorial(n-1)

In [45]:
factorial(4)

24

sum of n numbers

In [48]:
def sum(n):
  if n == 1:
    return 1
  return n + sum(n-1)

In [49]:
sum(6)

21

# sum of digits
SoD(1892) = 1 + 8 + 9 + 2 = 20

In [83]:
#conversion to string
def SoD(n: int) -> int:
  el = str(n)
  l = len(el)
  if l == 1:
    return int(el[0])
  else:
    return int(el[l-1]) + SoD(int(el[:l-1]))

In [91]:
def Sod(n:int) -> int:
  d = n%10
  if n == 0:
    return 0
  n = n//10
  return d + Sod(n)